.detail-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: auto;
}

.detail-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4em;
  margin-top: 2.5em;
}

.details-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 337px;
}

.text-container-detail {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1150px) {
  .detail-container {
    display: flex;
    max-width: 1050px;
    flex-direction: column;
    margin: auto;
  }

  .details-main {
    flex-direction: row;
    align-items: flex-start;
  }

  .picture-container {
    width: 450px;
    max-height: 450px;
  }
}
