nav {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  padding: 0em 2em 0em 2em;
  background-color: $background-color;
  box-shadow: $nav-shadow;
}

.active {
  font-weight: 600;
}

.logo,
.login {
  display: none;
}

@media only screen and (min-width: 850px) {
  .logo {
    width: 240px;
  }
}

@media only screen and (min-width: 600px) {
  nav {
    justify-content: space-between;
  }

  .logo,
  .login {
    display: block;
    width: 190px;
  }
}
