.temp-pic-detail {
  background-color: grey;
  width: 150px;
  height: 130px;
  border-radius: 15px;
  margin-top: 1em;
  margin-right: 1em;
}

.temp-banner-detail {
  background: gray;
  width: 100%;
  height: 365px;
  border-radius: 15px;
}

.temp-thumbnail {
  background-color: gray;
  height: 300px;
  min-width: 280px;
  border-radius: 15px;
}

.home-illustration {
  max-width: 500px;
}

@media only screen and (min-width: 1150px) {
  .temp-banner-detail {
    height: 460px;
  }
}

@media only screen and (min-width: 850px) {
  .temp-thumbnail {
    height: 300px;
    width: 300px;
    margin-right: 1em;
  }

  .temp-pic-detail {
    background-color: grey;
    width: 200px;
    height: 175px;
    border-radius: 15px;
    margin-top: 1em;
    margin-right: 1em;
  }
}
